.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.header-container {
  max-width: 100vw;
  block-size: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
